	.ccm-ir-pipe {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		height: 100%;
	}
	
	#pipe-button {
		width: 100px;
		height: 30px;
		margin-top: 70px;
		border: thin groove #000000;
		vertical-align: bottom;
		float: left;
		font: bold 15px;
	}
	
	#availableComponents {
	}
	
	#selectedComponents {
	}
	
	#descriptionWrapper {
		overflow: auto;
		padding: 0px;
	}
	
	#descriptionWrapper th {
		padding-right: 10px;
		text-align: right;
		font-style: italic;
		width: 60px;
		height: 40px;
	}
	
	#descriptionWrapper tr {
		padding: 0px;
		margin: 0px;
		width: 170px;
		height: 40px;
		font-size: 10pt;
	}

	.pipe-box {
		float: left;
		list-style-type: none;
		border : groove;
		border-width: thin;
		margin: 15px;
		padding: 0px;
		height: 140px;
		width: 240px;
		overflow: auto;
	}
	
	.pipe-box li {
		text-align: center;
		vertical-align: middle;
		font-size: 14px;
		height: 20px;
		margin: 10px;
		cursor : move;
		padding-top: 8px;
	}
	
	#pipe-result li {
		cursor: auto;
		text-align : left;
	}
	
	.component {
		background: #81BEF7;
		border: thin groove #000000;
	}

	#pipe-result {
		text-align: left;
	}
